body, html {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
  }
  
canvas {
  display: block;
}

.btn-box {
  display: flex;
  flex-direction: row;
}

.btn-box button {
  font-family: 'Courier New', monospace;
  font-size: 12pt;
  margin: 10px;
  background: none;
  color: white;
}